body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C3BEDD;
    color: #453D76;
}

h1{
    color: #2F2B47;
}

#principal{
    text-align: center;
}

p{
    text-align: justify;
}

.estados{
    background-color: #453D76;
    color: #C3BEDD;
    padding: 10px;
    border-radius: 10px;
}